{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Reservar Evento</h2>
    <form method="post" action="{% url 'reservar_evento' evento_id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_cantidad">Cantidad de entradas:</label>
            <input type="number" class="form-control" id="id_cantidad" name="cantidad" min="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Reservar</button>
    </form>
</div>
{% endblock %}