
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Confirmar Reserva</h2>
    <p><strong>Evento:</strong> {{ evento.nombre }}</p>
    <p><strong>Entradas:</strong> {{ cantidad }}</p>
    <p><strong>Precio Total:</strong> {{ precio_total }}</p>
    
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="confirmar" class="btn btn-success">Confirmar</button>
        <a href="{% url 'index' %}" class="btn btn-danger">Cancelar</a>
    </form>
    
</div>
{% endblock %}