# Ignorar el entorno virtual
env/

# Ignorar archivos de Python compilados
*.pyc
__pycache__/

# Ignorar archivos de configuración de IDEs
.idea/
.vscode/

# Ignorar archivos de logs
*.log
